.contactus{
    position: relative;
    background-image: url(../images/charity-pagetitle.jpg);
    height: 300px;
    object-fit: cover;  
    background-size: cover;
    background-position: center center;
    margin-bottom: 5vh;
    text-align: center;
    display: flex;
    }

   
   
    .contactus .title { 
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 21, 47, 0.75);
    }
    .contactus .main-title {
        position: absolute;
        bottom: 5%;
        left: 10%;
        display: flex;
    }
    .contactus .title h1 {
        line-height: 1.38em;
        font-size: 56px;
        font-weight: 400;
        color: white;
    }


body {
    font-family: "Poppins", Arial, sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    /* font-size: 16px !important; */
    /* line-height: 1.8 !important; */
    font-weight: normal;
    background: #fafafa;
    color: gray;
}

.ftco-section .ask-me{
    font-family: 'Caveat', cursive;  
    color: #f74f22;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
}
.ftco-section .heading-section{
    font-family: 'Quicksand',sans-seri; 
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    color: #2c2734;
    margin-bottom: 40px;
}

.contact-wrap {
    background: #fff;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.form-group {
    margin-bottom: 1rem;
}
.contactForm .form-control {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
}

/* .btn.btn-primary {
    background: #01d28e !important;
    border-color: #01d28e !important;
    color: #fff;
} */

.form-group .btn {
    padding: 12px 16px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    position: relative;
    background-color: #f74f22;
    color: #fff;
    margin-bottom: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}

.form-group h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
    font-weight: 400;
    font-family: "Poppins", Arial, sans-serif;
    color: #000;
}




/* .info-wrap{
    background: #01d28e !important;
} */
.info-wrap .dbox .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

/* .info-wrap h3 {
    color: #000000;
} */
.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
/* .info-wrap {
    color: rgba(255, 255, 255, 0.8);
} */

.info-wrap .dbox {
    width: 100%;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 25px;
}
.info-wrap .dbox .text {
    width: calc(100% - 50px);
}

.info-wrap .dbox p {
    margin-bottom: 0;
}
/* .form-group .btn {
    background-color: #f74f22;
    font-weight: 500;
} */