  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Quicksand:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&family=Work+Sans:ital,wght@0,600;0,700;0,800;1,300;1,600&display=swap');


:root{
    --main-font: 'Quicksand',sans-seri;
    --light-bg:#24baef;
    --orange-bg:#f74f22;
    --font-color:#fff;
  }
  body{
    font-family: var(--main-font);
    font-family: 'Caveat', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
  }
  .contactForm .label {
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}
  .buttons button{
    border: none;
    background-color: var(--orange-bg);
    color: var(--orange-bg);
    font-weight: 500;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 20px;   
}

a{
    text-decoration: none;
}

/* carousel */
.carousel{
    margin-top: -40px;
    overflow: hidden;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
}
.carousel .list .item img{
    object-fit: cover;
}
.carousel .list .item .content{
    top: 25%;
    left: 5%;
}

 .author {
    font-size: 40px ;
    color: var(--orange-bg);
    font-family: 'Caveat', cursive;  
}

.carousel .list .item .topic{
    font-size: 48px;
    /* font-weight: bold; */
    line-height: 1.3em;
    font-family: var(--main-font);   
}
.carousel .list .item .des{
    line-height: 27px;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 10px 0 ;
    font-family: 'Roboto', sans-serif;
}

.carousel .list .item .buttons{
    gap: 20px;
    padding: 20px 0  ;
    font-size: 15px;
}

/* arrows */
.arrows{
    top: 80%;
    left: 13%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    gap: 10px;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: #fff;
    color: #000;
}


/* animation */
.carousel .list .item{
    z-index: 1;
}

.carousel .list .item .content .author,
.carousel .list .item .content .topic,
.carousel .list .item .content .des,
.carousel .list .item .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.carousel .list .item .content .topic{
    animation-delay: 1.8s!important;
}
.carousel .list .item .content .des{
    animation-delay: 2.2s!important;
}
.carousel .list .item .content .buttons{
    animation-delay: 2.8s!important;
}

/* start land */
.fundraiser .help{
    font-size: 1.5rem ;
    color: var(--orange-bg);
    font-family: 'Caveat', cursive;  
}
.fundraiser .topic{
    font-family: 'Quicksand', sans-serif;
}

.fundraiser .border-start  {
    border-color: var(--orange-bg) !important;
}
.fundraiser .border-start  span{
    color: var(--orange-bg);
}

/* end land */

/* start activites */
  .image-container img {
    height: 320px;
    object-fit: cover;
  }
  .activites .border-start  {
    border-color: var(--orange-bg) !important;
}
.activites .smile{
    font-size: 1.5rem ;
    color: var(--orange-bg);
    font-family: 'Caveat', cursive;  
}
.activites .image-container{
    overflow: hidden;
    position: relative;
  }
  .activites .image-container::before {
    content: attr(data-work);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100% );
    height: calc(100% );
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(-100% ) ;
    /* transition: ease-in-out 2s 5s linear !important ; */
  }
  .activites .image-container:hover::before {
    transform: translateX(0);
    
  }
/* end activites */

/* start quote  */
.quote {
    position: relative;
    background-image: url('../images/event8-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 50vh;  */
    text-align: center;
    color: white;
}

.quote {
    display: flex;
    align-items: center;
    justify-content: center;  
}
.quote::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00162FDB;
  }

  .quote q {
    font-size: 35px;
     font-family: 'Quicksand', sans-serif;
  }
/* end quote  */

.icon-container {
    display: inline-block;
    position: relative;
  }
  
  .icon-box {
    font-size: 16px; /* Adjust the initial font size */
    transition: font-size 0.2s;
  }
  
  .icon-box:hover {
    font-size: 20px; /* Adjust the enlarged font size */
    transition: font-size 0.2s;
  }
  
  .icon-box:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: shrink 1s ease forwards;
    z-index: -1;
  }
  
  @keyframes shrink {
    0% {
      font-size: 20px; /* Adjust the enlarged font size */
    }
    100% {
      font-size: 16px; /* Adjust the initial font size */
    }
  }

/* ######### */
