
.aboutus{
position: relative;
background-image: url(../images/charity-pagetitle.jpg);
height: 300px;
object-fit: cover;  
background-size: cover;
background-position: center center;
margin-bottom: 5vh;
text-align: center;
display: flex;
}
.aboutus .title { 
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 300px;
background-color: rgba(0, 21, 47, 0.75);
}
.hello{
    position: absolute;
    bottom: 5%;
    left: 10%;
    display: flex;
}
.aboutus .title h1 {
    line-height: 1.38em;
    font-size: 56px;
    font-weight: 400;
    color: white;
}

/* .news-detail-header-section {
    background-image: url('../images/home1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
  } */

  .help-today{
    position: relative;
    background-image: url(../images/we_are_helping_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
  }
  
  
  .play-box{
    width: 105px;
    height: 105px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  .help-today .smile{
    font-size: 1.5rem ;
    color: var(--orange-bg);
    font-family: 'Caveat', cursive;  
  }
  .help-today .main-box .small-icon{
  width: 100px;
}
.help-today .container{
    /* padding-top: 100px;
    padding-bottom: 100px; */
    padding: 115px 10px 55px 10px;
}

.help-today .arrow{
    height: 120px;
    animation-name: btnIconMove;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes  btnIconMove {
    0% {
        transform: rotate(0deg) translate(0px,0px);
    }
    50% {
        transform: rotate(20deg) translate(10px,0px);
    }
    100% {
        transform: rotate(0deg) translate(0px,0px);
    }
}