
.main-banner{
position: relative;
background-image: url(../images/charity-pagetitle.jpg);
height: 300px;
object-fit: cover;  
background-size: cover;
background-position: center center;
margin-bottom: 5vh;
text-align: center;
}
.main-banner .title { 
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 300px;
background-color: rgba(0, 21, 47, 0.75);
}
.hello{
    color: white;
    line-height: 1.38em;
    font-size: 34px;
    font-family: 'Caveat', cursive;
}
.unstyled-link {
    text-decoration: none;
    color: inherit;
  }

.main-banner .title h1 {
    line-height: 1.38em;
    font-size: 56px;
    font-weight: 400;
    color: white;
    margin: 90px auto 0;
}

/* .news-detail-header-section {
    background-image: url('../images/home1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
  } */

  .help-today{
    position: relative;
    background-image: url(../images/we_are_helping_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
  }
  
  
  .play-box{
    width: 105px;
    height: 105px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  .help-today .smile{
    font-size: 1.5rem ;
    color: var(--orange-bg);
    font-family: 'Caveat', cursive;  
  }
  .help-today .main-box .small-icon{
  width: 100px;
}
.help-today .container{
    /* padding-top: 100px;
    padding-bottom: 100px; */
    padding: 115px 10px 55px 10px;
}

.help-today .arrow{
    height: 120px;
    animation-name: btnIconMove;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes  btnIconMove {
    0% {
        transform: rotate(0deg) translate(0px,0px);
    }
    50% {
        transform: rotate(20deg) translate(10px,0px);
    }
    100% {
        transform: rotate(0deg) translate(0px,0px);
    }
}
.fundraiser .help{
  font-size: 1.5rem ;
  color: var(--orange-bg);
  font-family: 'Caveat', cursive;  
}
.fundraiser .topic{
  font-family: 'Quicksand', sans-serif;
}

.fundraiser .border-start  {
  border-color: var(--orange-bg) !important;
}
.fundraiser .border-start  span{
  color: var(--orange-bg);
}
.abouticon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 5px;
}

.abouticon .icon-with-text {
  display: flex;
  gap: 20px;
  align-items: center;
}
.abouticon .icon-with-text i {
  font-size: 30px;
  color: var(--orange-bg); 

}
.abouticon .icon-with-text span {
  font-size: 25px;
  color: #000;
}