.custom-container {
     /* Equivalent to p-3 */
     width: 400px;
    margin-bottom: 3rem; 
    /* background-color: var(--bs-tertiary-bg);  */
    border-radius: 0.375rem; 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
  }
  
  @media (max-width: 576px) {
    .custom-container.custom-mobile-style {
      /* background-color: #fff !important; */
      box-shadow: none !important;
      border: none !important;
    }
  }
  