* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.card {
  height: 100%;
}
img {
  object-fit: cover;
}
.accordion-button:focus,
.form-control:focus,
.navbar-toggler:focus,
.form-check-input:checked,
.form-check-input:focus {
  box-shadow: orange;
  border-color: orange;
}

.accordion-button:not(.collapsed) {
  background-color: #fff;
}